<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
 window.images = {
   logoPng: "<%= asset_path("logo1.png") %>",
   smokeyIcon: "<%= asset_path("smokey-logo.png") %>",
   yosemiteMain: "<%= asset_path("yosemite-main.jpg") %>",
   notFound: "<%= asset_path("not_found.jpg") %>",
   parkRanger: "<%= asset_path("park_ranger.png") %>",
   hiking: "<%= asset_path("hiking.png") %>",
   biking: "<%= asset_path("biking.png") %>",
   swimming: "<%= asset_path("swimming.png") %>",
   bird: "<%= asset_path("eagle.png") %>"
 }
</script>

<main id="root">
</main>