<!DOCTYPE html>
<html>
  <head>
    <title>Campout</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCYaF2_WGBx9QM9CGqWi9mcRqiaJuOt6qM" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
